<div class="tab flexrow active" data-group="primary" data-tab="description">

    <div class="item-properties">
        {{#if isPhysical}}
        <div class="form-group">
            <label>Quantity</label>
            <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>Weight</label>
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="text" name="data.price" value="{{data.price}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>HP</label>
            <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number" style="flex: 0 0 32px"/>
            <span>/</span>
            <input type="text" name="data.hp.max" value="{{data.hp.max}}" data-dtype="Number" style="flex: 0 0 32px"/>
        </div>

        <div class="form-group">
            <label>Hardness</label>
            <input type="text" name="data.hardness" value="{{data.hardness}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>Carried</label>
            <input type="checkbox" name="data.carried" {{checked data.carried}}/>
        </div>
        {{/if}}

        <ol class="properties-list">
            {{#each itemProperties}}
            <li>{{this}}</li>
            {{/each}}
        </ol>
    </div>

    {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
</div>
