{{!-- Flags --}}
<div class="form-group stacked buff-flags">
  <label>Flags</label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.loseDexToAC" {{checked data.changeFlags.loseDexToAC}}/> Lose Dex to AC
  </label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noDex" {{checked data.changeFlags.noDex}}/> 0 Dexterity
  </label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.noStr" {{checked data.changeFlags.noStr}}/> 0 Strength
  </label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneInt" {{checked data.changeFlags.oneInt}}/> 1 Intelligence
  </label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneWis" {{checked data.changeFlags.oneWis}}/> 1 Wisdom
  </label>
  <label class="checkbox">
      <input type="checkbox" name="data.changeFlags.oneCha" {{checked data.changeFlags.oneCha}}/> 1 Charisma
  </label>
</div>

<div>
  {{!-- Changes --}}
  <h4 class="change-header">
    Changes
    <a class="change-control add-change"><i class="fas fa-plus"></i></a>
  </h4>
  <ol class="changes form-group">
    {{#each data.changes as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="data.changes.{{a}}.0" value="{{lookup this "0"}}"
        placeholder="Formula" />
      <select name="data.changes.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">None</option>
        {{#each ../changes.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.2">
        {{#select (lookup this "2") }}
        {{#each subTargets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="data.changes.{{a}}.3">
        {{#select (lookup this "3") }}
        {{#each ../changes.modifiers as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
  </ol>
</div>
