{{#if formula}}
<div class="dice-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
  <div class="dice-result">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
  </div>
</div>
{{/if}}

{{#if hasExtraText}}
<div class="extra-text">{{{extraText}}}</div>
{{/if}}

{{#if hasProperties}}
{{#each properties as |prop|}}
<div class="flexcol property-group">
  <label>{{prop.header}}</label>
  <div class="flexrow">
    {{#each prop.value as |v|}}
    <span class="tag">{{{v}}}</span>
    {{/each}}
  </div>
</div>
{{/each}}
{{/if}}
