<form class="{{cssClass}} flexcol" autocomplete="off">
  
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    
    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
      </h1>
      
      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>
      
      <ul class="summary">
        <li>
          {{lookup config.attackTypes data.attackType }}
        </li>
        <li>
          <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
        </li>
      </ul>
    </div>
  </header>
  
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
  </nav>
  
  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    
    {{!-- Description Tab --}}
    <div class="tab flexcol active" data-group="primary" data-tab="description">
      {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
    
    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group stacked">
        <label class="checkbox">
            <input type="checkbox" name="data.proficient" {{checked data.proficient}}/> Proficient
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.masterwork" {{checked data.masterwork}}/> Masterwork
        </label>
      </div>

      <div class="form-group">
          <label>Enhancement Bonus</label>
          <div class="form-fields">
              <input type="text" name="data.enh" value="{{data.enh}}" data-dtype="Number" placeholder="0"/>
          </div>
      </div>

      <h3 class="form-header">Attack Details</h3>
      
      {{!-- Attack Type --}}
      <div class="form-group">
        <label>Attack Type</label>
        <select name="data.attackType">
          {{#select data.attackType}}
          {{#each config.attackTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      
      <h3 class="form-header">Attack Usage</h3>
      
      {{!-- Item Activation Template --}}
      {{> "systems/pf1/templates/items/parts/item-activation.html"}}
      
      <h3 class="form-header">Attack Action</h3>
      
      {{!-- Item Action Template --}}
      {{> "systems/pf1/templates/items/parts/item-action.html"}}
    </div>
  </section>
</form>
