<form class="{{cssClass}} flexcol" autocomplete="off">
  
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    
    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Buff Name"/>
      </h1>
      
      <div class="item-subtitle">
        <h4 class="item-type">{{itemType}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{labels.buffType}}
        </li>
        <li class="tooltip">
          <span class="tooltipcontent">@item.level : {{data.level}}</span>
          <input type="text" name="data.level" value="{{#if data.level}}{{data.level}}{{/if}}" placeholder="Level"/>
        </li>
      </ul>
    </div>
  </header>
  
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
    <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
  </nav>
  
  {{!-- Item Sheet Body --}}
  <section class="primary-body">
    
    {{!-- Description Tab --}}
    <div class="tab flexcol active" data-group="primary" data-tab="description">
      {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
    
    {{!-- Changes Tab --}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      <div class="form-group select">
          <label>Type</label>
          <select name="data.buffType" value="{{data.buffType}}">
              {{#select data.buffType}}
              {{#each config.buffTypes as |type a|}}
              <option value="{{a}}">{{type}}</option>
              {{/each}}
              {{/select}}
          </select>
      </div>

      {{> "systems/pf1/templates/items/parts/item-changes.html"}}

      {{> "systems/pf1/templates/items/parts/item-notes.html"}}
    </div>
  </section>
</form>
