<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary">
                <li>
                    {{labels.featType}}
                </li>
                <li>
                    <input type="text" name="data.requirements" value="{{data.requirements}}" placeholder="Requirements"/>
                </li>
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="Source"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
        <a class="item" data-tab="changes">{{ localize "PF1.Changes" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="primary-body">

        {{!-- Description Tab --}}
        {{> "systems/pf1/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">

            <h3 class="form-header">Details</h3>

            <div class="form-group select">
                <label>Type</label>
                <select name="data.featType" value="{{data.featType}}">
                    {{#select data.featType}}
                    {{#each config.featTypes as |type a|}}
                    <option value="{{a}}">{{type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <h3 class="form-header">Feature Usage</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/pf1/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">Feature Attack</h3>

            {{!-- Item Action Template --}}
            {{> "systems/pf1/templates/items/parts/item-action.html"}}
        </div>
    
        {{!-- Changes Tab --}}
        <div class="tab flexcol" data-group="primary" data-tab="changes">
            {{> "systems/pf1/templates/items/parts/item-changes.html"}}

            {{> "systems/pf1/templates/items/parts/item-notes.html"}}
        </div>
    </section>
</form>
