<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "PF1.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "PF1.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="primary-body">

        {{!-- Description Tab --}}
        <div class="tab flexcol active" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>

        {{!-- Details Tab --}}
        <div class="tab flexcol" data-group="primary" data-tab="details">
          <div class="form-group">
            <label>Type</label>
            <div class="form-fields">
              <input type="text" name="data.details.type" value="{{data.details.type}}" placeholder="Type"/>
            </div>
          </div>

          <div class="form-group">
              <label>Subtype</label>
              <div class="form-fields">
                <input type="text" name="data.details.subtype" value="{{data.details.subtype}}" placeholder="Subtype"/>
              </div>
            </div>
        </div>
    </section>
</form>
